<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Jugador</title>
</head>
<body>
<h1>Editar Jugador</h1>

<form th:action="@{/jugadores/editar/{id}(id=${jugador.id})}" th:object="${jugador}" method="post">
    <input type="hidden" th:field="*{id}" />

    <label >Nombre:</label>
    <input type="text" th:field="*{nombre}" required /><br><br>

    <label >Edad:</label>
    <input type="number" th:field="*{edad}" required /><br><br>

    <label >Nivel:</label>
    <input th:type="text" th:field="*{nivel}" required><br><br>

    <button type="submit">Actualizar Jugador</button>
</form>

<br><a href="/jugadores">Volver a la lista</a>
</body>
</html>
